body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
}

.container {
    width: 60%;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    max-height: 400px;
    overflow-y: auto;
}

li {
    padding: 15px;
    background-color: #efefef;
    margin: 5px 0;
    border-radius: 5px;
}

li:nth-child(even) {
    background-color: #ddd;
}

#loading {
    text-align: center;
    padding: 10px;
    font-weight: bold;
}
